@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.aboutMe{
    padding: 100px 0px 50px 0px;
    &.--dark{
        color: white;
    }
    &__image{
        display: flex;
        margin: 0px auto 30px;
        width: 250px;
        height: 250px;
        & img{
            margin: auto;
            border-radius: 50%;
            width: 70%;
            height: 100%;

        }
    }
    &__title{
        margin: 0px 0px 30px 0px;
        font-size: 30px;
        text-align: center;
        &.--dark{
            color: $color-white;
        }
    }
    &__text{
        text-align: left;
        padding: 20px;
        width: 100%;
        max-width: 1000px;
        margin: auto;
    }
}
