@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.navbar{
    background-color: #00001c;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &.--dark{
        background-color: $color-black-2;
    }
    @include FromMax($medium) {
        // height: 100vh;
    }

    &__content-links{
        display: flex;
        flex-direction: row;
    }
    
    &__description{
        display: block;
        height: auto;
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $color-text-grey;
        &.--active{
            color: $color-white;
        }
    }
    &__icon-tema{
        color: white;
        margin: 0px 20px;
        padding: 0px;
        background-color: transparent;
        cursor: pointer;
    }
}

.navbar-mobile{
    position: absolute;
    top: 0px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 13s ease, height 13s ease;
    &.--isOpen{
        background-color: #00001c;
        &.--dark{
            background-color: $color-black-2;
        }
        width: 100%;
        transition: width 13s ease, height 13s ease;
        height: 100vh;
    }
    &__icon{
        margin: 10px;
        cursor: pointer;
        color: #00001c;
        &.--dark{
            color: white;
        }
        &.--isOpen{
            color: white;
        }
    }
    &__content-icon{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-direction: row;  
    }
    &__content-links{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    
    &__description{
        display: block;
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $color-text-grey;
        &.--active{
            color: $color-white;
        }
    }
    &__icon-tema{
        color: white;
        margin: 20px 20px;
        padding: 0px;
        background-color: transparent;
        cursor: pointer;
    }
}
