.light-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  &__bt{
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
    &__button-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100px;
      width: 100px;
      background-color: #0a0a0a;
      border-radius: 5px;
      font-weight: 700;
      transition: 300ms;
      outline-offset: 20;
      color: rgba(84, 37, 165, 0.966);
      outline: rgba(84, 37, 165, 0.966) 2px solid;
      & svg{
        height: 50px;
        fill: rgba(84, 37, 165, 0.966);
        transition: 300ms;
      }
      & a{
        z-index: 1;
        color: rgba(84, 37, 165, 0.966);
        text-align: center;
        &:active{
          color: #a0a0a0;
        }
      }
    }
    &__light-holder {
      position: absolute;
      height: 200px;
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__dot{
        position: absolute;
        top: 0;
        width: 10px;
        height: 10px;
        background-color: #575656;
        border-radius: 10px;
        z-index: 2;
        animation: movimiento2 10s alternate infinite;
        @keyframes movimiento2 {
          0% {
            left: 0px;
          }
          50% {
            left: calc(100% - 10px);
          }
          100% {
            left: 0px;
          }
        }
      }
      &__light {
        position: absolute;
        top: 0;
        width: 200px;
        height: 200px;
        animation: movimiento 10s alternate infinite;
        @keyframes movimiento {
          0% {
            clip-path: polygon(27% 0%, 25% 100%, 75% 100%);
          }
          50% {
            clip-path: polygon(73% 0%, 25% 100%, 75% 100%);
          }
          100% {
            clip-path: polygon(27% 0%, 25% 100%, 75% 100%);
          }
        }
        background: rgb(255, 255, 255);
        background: linear-gradient(
          180deg,
          rgba(84, 37, 165, 0.966) 0%,
          rgba(200, 20, 100, 0) 75%,
          rgba(200, 20, 100, 0) 100%
        );
      }
    }
  }
}
